[2015-08-27 01:21] correll opened #1 "Figuring out battery charger"
How do we connect the battery and how can it be recharged?

[2015-08-27 01:22] correll opened #2 "Installing ROS drivers to drive motors"

[2015-08-27 01:23] correll opened #3 "Install joystick driver that can issue velocity screws"

[2015-08-27 01:23] correll opened #4 "Connect motor driver to joystick velocity screw"

[2015-08-27 01:23] correll opened #5 "Attach Stewart platform to Jaguar"

[2015-08-27 01:24] correll opened #6 "Implement accelerometer-based horizontal stabilization"

[2015-08-27 01:24] correll opened #7 "Mount Occam60 on Jaguar"
Make sure does not interfere with Stewart platform

[2015-08-27 01:24] correll opened #8 "Integrate IMU and GPS into global pose estimate"
Follow instructions on
http://wiki.ros.org/robot_localization/Tutorials/GPS%20Integration

and

http://wiki.ros.org/razor_imu_9dof (please verify this is the right one)

[2015-08-27 01:25] correll opened #9 "Install RTABMAP"

[2015-08-27 01:28] correll opened #10 "Provide wireless networking to Jetson"

[2015-08-27 01:29] correll opened #11 "Extend ROSCORE over the wireless network"
Demonstrate
-remote control
-video feed

[2015-08-27 01:30] correll opened #12 "Create ROS launchfile to start all required services on Jetson"

[2015-08-27 01:43] correll opened #13 "Install drivers for OccamVision cameras"
Drivers for Ubuntu 14.04 / ROS Indigo are available from OccamRobotic's website

[2015-08-27 01:43] correll opened #14 "Install CUDA for Tegra"

[2015-08-27 01:43] correll opened #15 "Install OpenCV for Tegra"

[2015-08-27 16:25] correll opened #16 "Collect a list of BuffId + Names to obtain lab access"

[2015-08-27 17:35] correll opened #17 "Install wireless mini PCIe card (need to be ordered)"
There is a SMA (?) cable wiring an antenna to the outside. Need to make sure the PCI card supports external antenna.

[2015-08-27 17:36] correll opened #18 "Provide power / wiring to IMU"
Needs 5V. Currently uses RS232, need to migrate to FTDI-USB cable

[2015-08-27 17:36] correll opened #19 "Provide power / wiring to GPS"
Currently uses RS232, need to to migrate to FTDI232

[2015-08-27 17:37] correll opened #20 "Implement FTDI management in Linux"
FTDI devices are labeled as /dev/ttyUSBx. We will need to provide fixed names (via the devices serial numbers) in order to prevent confusion.

[2015-08-27 17:37] correll opened #21 "Hook up fans"
They need 12V. Otherwise the robot will overheat.

[2015-08-27 17:38] correll commented on #17
There is a SMA (?) cable wiring an antenna to the outside. Need to make sure the PCI card supports external antenna.

[2015-08-27 17:39] correll opened #22 "Add USB3 hub"
The hub needs to be mounted to the robot somehow. Maybe laser-cut a fixture?

[2015-08-27 17:41] correll opened #23 "Restore battery packs."
Unfortunately, the batteries (LiPo) broke. Need to order new packs of follow instructions here http://www.electricrcaircraftguy.com/2014/10/restoring-over-discharged-LiPos.html

[2015-08-29 18:45] correll commented on #23
The packs are actually composed of four separate sections, so we can replace just
the individual parts that actually need replacing.

http://www.hobbyking.com/hobbyking/store/__24215__Turnigy_nano_tech_5000mah_3S_65_130C_Lipo_Pack_US_Warehouse_.html

Thanks to Steve McGuire.

[2015-08-30 01:04] ghost commented on #23
I also heard you mention that only one of the cells was damaged. So, we
could actually just buy one cell and replace it.
But before that, we could try to recover that particular cell by Low Charge
Current in NiMH charger configuration.

http://www.hobbyking.com/hobbyking/store/__18560__Turnigy_5000mAh_1S_20C_Lipoly_Single_Cell_.html

This one seems to be quite a similar cell of the 3s1p Battery, o

[2015-08-30 02:33] correll commented on #23
I've read that repairing cells under 1V/cell is very risky as they can catch fire. I simply bought new ones.

Until then we can do anything involving the computer and sensors.

Sent from my iPhone

[2015-08-30 05:28] Athithyaa commented on #11
I am looking at the basics for ROS. Will take this issue up and try to come up with a solution

[2015-08-30 06:37] rmaheshkumarblr commented on #15
This link provides how to go about installing OpenCV for Tegra: http://elinux.org/Jetson/Installing_OpenCV
Will try it in the lab on Monday or Tuesday

[2015-08-30 14:37] correll commented on #15
That's good. Need to coordinate with whoever flashes the Jetson with LT4 21.x (Rohit?).

I recommend to go the route of using the precompiled option (optimized for tegra) and add support for sift/surf manually at a later point.

https://en.m.wikipedia.org/wiki/Speeded_up_robust_features

Sent from my iPhone

[2015-08-30 14:41] correll commented on #11
That's great! The Jetson does not have wireless yet. Let's find a mini PCIe card that has an antenna connector that matches the cable already in the Jaguar or use the white wireless access point.

In the long run we want to have two networking devices to debug that thing, so using the wap on the Ethernet port is not optimal.

Sent from my iPhone

[2015-08-30 14:56] ghost commented on #15
Yea. I'll be doing the Jetson Flashing on Monday. We will do the OpenCV
together.

Regards,
Rohit

On Sunday, August 30, 2015, Nikolaus Correll notifications@github.com
wrote:

[2015-08-30 15:28] ghost commented on #2
I'll start installing the ROS drivers which Steve has written, after I flash the Jettson and install ROS. Does anyone want to join me? I will be starting this on Monday from 11:30am.

Regards,
Rohit

[2015-08-30 15:30] rmaheshkumarblr commented on #2
I will join you. Would like to know how flashing is done onto the Jetson.

Thanks and Regards,
Mahesh Kumar

[2015-08-30 15:31] Athithyaa commented on #2
Rohit, Yes I can join you. Meet you on Monday at 1130.

A.
On Aug 30, 2015 9:28 AM, "Rohit Narendra Raje" notifications@github.com
wrote:

[2015-08-30 15:32] ghost commented on #2
Cool. I will be starting tomorrow at 11:30am. You can join in as you become
free.

Rohit

On Sunday, August 30, 2015, rmaheshkumarblr notifications@github.com
wrote:

[2015-08-30 15:52] ghost commented on #9
I will be installing RTABMAP on Tuesday. If ROS and OpenCV are installed on early Monday, I will be doing it that day itself. Do join me if you are free then?

Rohit

[2015-08-30 15:53] ryanleonard commented on #9
I'll be there Tuesday!Ryan

Sent from Outlook

On Sun, Aug 30, 2015 at 8:52 AM -0700, "Rohit Narendra Raje" notifications@github.com wrote:
I will be installing RTABMAP on Tuesday. If ROS and OpenCV are installed on early Monday, I will be doing it that day itself. Do join me if you are free then?

Rohit

---

Reply to this email directly or view it on GitHub:
https://github.com/correll/advancedro

[2015-08-30 15:57] mira67 commented on #9
I will try to be there 1130 Monday, and maybe we can install the omni 60
driver also.

Qi

On Sun, Aug 30, 2015 at 9:52 AM, Rohit Narendra Raje <
notifications@github.com> wrote:

##

PhD Candidate
ECEE Department
University of Colorado at Boulder

[2015-08-31 04:03] mira67 commented on #13
Downloaded "ros_indigosdk-2.0.0.tar" and followed the instructions from readme.txt
Tried install the package on Ubutun 14.04 with ROS, got the following error from cmake error log:
/usr/bin/ld: cannot find -lpthread
Anyone has come across same issue?
(Could be the configuration of my ubutun, will test the installation on Jetson.)

[2015-08-31 04:33] ghost commented on #13
-lpthread is an external library which is used to create threads in Ubuntu.
Commonly used along with c/c++ threaded programs. Usually it comes
preinstalled with Ubuntu or along with the gcc compiler. It seems you don't
have that library. Try installing the gcc compiler (which will most
probably contain the lpthread library) or try intalling it separately using
Ububtu Software center.

Regards,
Roh

[2015-08-31 05:40] Athithyaa commented on #13
Yes, did you try updating the source.list file to get updated packages list
for ROS ?.

Installing ROS Indigo on Ubuntu 14.0.4.X was smooth sailing for me.

Try this http://wiki.ros.org/indigo/Installation/Ubuntu. It has clear cut
info.

Thanks,
Athithyaa

On Sun, Aug 30, 2015 at 10:33 PM, Rohit Narendra Raje <
notifications@github.com> wrote:

##

Thanks and Regards,
Athithyaa PR

[2015-08-31 05:43] mira67 commented on #13
ROS installation has no issue.
The installation of package for omni 60 has errors. Will troubleshoot
tomorrow.
Thanks.

On Sun, Aug 30, 2015 at 11:40 PM, Athithyaa notifications@github.com
wrote:

##

PhD Candidate
ECEE Department
University of Colorado at Boulder

[2015-08-31 05:46] Athithyaa commented on #13
Sorry, my bad.... :(
understood your issue.

A.

On Sun, Aug 30, 2015 at 11:43 PM, mira67 notifications@github.com wrote:

##

Thanks and Regards,
Athithyaa PR

[2015-08-31 16:35] correll opened #24 "Connect Occulus rift to 360 degree vision feed provided by Occam60"
Please coordinate with people working on issue #13.

[2015-08-31 17:46] rmaheshkumarblr commented on #15
Hi Rohit,

I am in the Lab, let me know when you would be available. I don't have your number yet so I thought will use Github instead for the time being..

[2015-08-31 22:25] jilu7883 commented on #9
I can join in Tuesday, when you guys will meet?

[2015-08-31 22:55] ryanleonard commented on #9
Any time before 2 for me
Ryan

Sent from Outlook

On Mon, Aug 31, 2015 at 3:25 PM -0700, "jilu7883" notifications@github.com wrote:
I can join in Tuesday, when you guys will meet?

---

Reply to this email directly or view it on GitHub:
https://github.com/correll/advancedrobotics/issues/9#issuecomment-136517348

[2015-08-31 23:47] jilu7883 commented on #9
I can be here around 10:15 tomorrow, maybe early

[2015-09-01 02:44] ghost commented on #9
I will be there in the Lab on Tuesday after 1pm. So, you guys can go ahead if you arrive early. BTW, today (Monday), we finished flashing the Jettson (16GiB filesystem) and installed ROS indigo on it. We tried getting the PCIe wifi adapter to function but seems as if the necessary drivers are missing.

[2015-09-01 02:59] correll commented on #9
The PCIe will probably require the grinch kernel.

https://devtalk.nvidia.com/default/topic/823132/-customkernel-the-grinch-21-3-4-for-jetson-tk1-developed/

Do you have such a wireless card to play with?

Sent from my iPhone

[2015-09-01 03:06] ghost commented on #9
There were two PCIe wireless cards already there in the Lab. Found by
Steve! One was from RTL(RealTek) and the other was Intel Centrino
Wireless-N 2230.

On Mon, Aug 31, 2015 at 8:59 PM, Nikolaus Correll notifications@github.com
wrote:

[2015-09-01 03:17] correll commented on #9
I couldn't actually get this to work previously. I could see the interface and wireless networks, but it would not connect. Maybe one needs to hook up the antenna.

Sent from my iPhone

[2015-09-01 03:31] rmaheshkumarblr commented on #9
We could get the realtek one working installing the drivers but the problem was that the system hanged after a certain amount of time because of some issue. In the error messages we could see something mentioned about wpa_supplicant.

[2015-09-01 04:05] correll commented on #9
Can you post the whole error message? Maybe someone can figure it out.

Sent from my iPhone

[2015-09-01 16:44] ryanleonard commented on #13
Hey everyone,
So Regina and I are working on installing some things for the Tegra, but we aren't sure exactly where you guys left off.

Can you confirm that ROS has/hasn't been installed?

We ask this because as far as we can tell, -lpthread has not yet been installed...

For future reference, we are leaving a text file under Documents on the tegra itself to let everyone else know what we have don

[2015-09-01 22:14] ikemole commented on #14
I have completed this using the instructions here: http://elinux.org/Jetson/Installing_CUDA

[2015-09-01 22:14] #14 closed, assigned to ikemole

[2015-09-01 22:22] ikemole commented on #15
I have installed CUDA. According to the instructions link above, it is required to install CUDA on the Jetson before you can install OpenCV, so now you can go ahead and install OpenCV.

[2015-09-01 23:56] mira67 commented on #13
The driver package for omni60 was downloaded to jetson and under /Download folder.

installed image-transport, image-info-manager for ROS to support the camera
installed usblib which was missing
The same issue metioned previously occured when installing package for omni60 on jetson

If any of you have more experience on installing 3rd party package for ROS, the instructions for installing omni60 i

[2015-09-02 00:02] ghost commented on #15
I have install OpenCV. Issue Closed!

[2015-09-02 00:02] #15 closed, assigned to nobody

[2015-09-02 00:05] #16 closed, assigned to ryanleonard

[2015-09-02 01:07] mira67 commented on #13
Resolved the non-supported msse2 option issue.
But after that, new errors coming up due to the flaw of occam sdk source code
Occam custom support gave a potential solution and they will examine the source code
Will take some time to resolve this issue, but on track.

[2015-09-02 02:07] mira67 opened #25 "'-msse2' command option not work for ARM"
When installing the occam camera driver, the last step need 'make'
source /opt/ros/indigo/setup.bash && cd /home/x/ros_indigosdk-2-0/build && make -kj

This may cause other issues, so create an issue to let you know this.

[2015-09-02 03:20] ghost commented on #15
I have installed the native-compiled OpenCV which has full functionality including GPU support.
Common way of running c++ programs in openCV is (running a sample program called edge.cpp, dont forget to include --cflags and --libs from opencv):
cd opencv-3.0.0/samples/cpp/
g++ edge.cpp -o edge $(pkg-config opencv --cflags --libs)
./edge

[2015-09-02 03:53] ghost commented on #9
Installed the grinch kernel. Will check the RTL PCIe again tomorrow!

[2015-09-02 20:55] mira67 commented on #25
Removing the entire code related to SSE in the SDK CMake file or add option -DOCCAM_SSE2=OFF in the cmake command will resolve the error caused by '-msse2'

This may apply to other drivers, SDK which have default SSE defined.

[2015-09-02 20:55] #25 closed, assigned to mira67

[2015-09-04 18:23] rmaheshkumarblr commented on #19
The GPS Module that came with the Jaquar Platform is Garmin 18x GPS Navigator Unit

Specification Sheet: http://static.garmincdn.com/pumac/GPS_18x_Tech_Specs.pdf

![image](https://cloud.githubusercontent.com/assets/1996917/9691393/6605a524-52ff-11e5-8ea5-ae133ced670a.png)

The GPS 18x LVC/18x-5Hz interfaces to a serial port. The unit accepts TIA-232-F (RS-232) level inputs and transmits voltage le

[2015-09-05 00:27] mira67 commented on #13
Thanks to someone who helped fixed the problem.
"ARM_NEON" flag has to be defined to make thing work smoothly.
Now the camera sdk/driver was installed and linked with ROS. DONE!
(Going to create another issue to track "UDEV RULE" for the Camera)

[2015-09-05 00:27] #13 closed, assigned to mira67

[2015-09-05 00:28] mira67 opened #26 "Write "UDEV RULE for Occam""

[2015-09-05 01:06] rmaheshkumarblr commented on #19
RS232 to FTDI232

Reference: http://www.usconverters.com/index.php?main_page=page&id=62

The Quick Checklist:

Preferred processor chip: FTDI or Silabs (very reliable)
Preferred serial driver chip: ZyWyn, Maxin or NI (very reliable)
Minimum 5.0VDC output power at serial connector (ensures reliable data transmission)
Build-in electro-static protection for at least 600W (protects against static elec

[2015-09-05 02:03] rmaheshkumarblr commented on #17
The following link shows the PCI cards that are supported via the Grinch Kernal

http://elinux.org/Jetson/Network_Adapters

The ones which we have are different from the supported list. Will try to use them anyways to check if they are detectable.

One of them we have is Intel Centrino 2230 which Nvidia plans to support in future for the Tegra platform. Reference from the link provided above.

[2015-09-05 02:49] correll commented on #17
If you find one on Amazon, I can buy it. Make sure it has a connector for the external antenna!

Sent from my iPhone

[2015-09-05 04:06] correll commented on #19
I have ordered the first item. It might also work for the IMU.

On Fri, Sep 4, 2015 at 7:06 PM, rmaheshkumarblr notifications@github.com
wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-09-05 04:19] rmaheshkumarblr commented on #17
The recommended one for Jetson using the grinch kernal is Intel : 7260 HMW

Instruction on how to install and use: http://jetsonhacks.com/2014/10/12/installing-wireless-intel-7260-adapter-nvidia-jetson-tk1/

Amazon link for the module: http://www.amazon.com/gp/product/B00DMCVKMU/ ( It can have two external antennas attached to it )
Amazon link if antennas are required: http://www.amazon.com/Mini-A

[2015-09-05 07:43] ghost opened #27 "Occulus Rift integrated for Hands-free control of Jaguar"
Do we need this or do we already have it? Michael Mozer has one (Oculus Rift Development Kit 2) that he has just purchased and is currently not assigned to any of his projects.

Regards,
Rohit

[2015-09-05 14:10] correll commented on #27
We have our own.

Sent from my iPhone

[2015-09-05 14:11] correll commented on #17
I'd be glad to order, but do we need the antenna or can use that already in the jaguar?

Sent from my iPhone

[2015-09-05 15:51] rmaheshkumarblr commented on #17
I think Jaquar came with just one antenna. We could use one of those and buy one more since this wireless module has slot for two external antennas.

[2015-09-05 18:17] bryanbocao commented on #5
Does anyone know where Stewart platform is in the lab? I could not find it in 1B15. Thanks!

[2015-09-05 18:18] rmaheshkumarblr commented on #5
If I am not wrong, I think it is in Correll's Lab: 1B21

[2015-09-05 18:29] correll commented on #5
It's in 1B21 on Andy McEvoy's desk.

Sent from my iPhone

[2015-09-05 21:38] correll commented on #5
Before attaching it, we should probably finish up the code for it...

I'll be in on Tuesday and can go over where we are with the platform.

Andy McEvoy

Research Assistant
Correll Lab
Department of Computer Science
University of Colorado at Boulder

(832) 439 - 6150

On Sat, Sep 5, 2015 at 12:29 PM, Nikolaus Correll <
nikolaus.correll@gmail.com> wrote:

[2015-09-09 23:27] correll commented on #18
I bought a RS232 to USB adapter.

[2015-09-09 23:32] correll opened #28 "Document drivetrain with schematic diagram"

[2015-09-10 22:48] bryanbocao commented on #18
Tutorial for SparkFun "9DOF Razor IMU": https://github.com/ptrbrtz/razor-9dof-ahrs/wiki/Tutorial.
I am trying to figure out a way to integrate it into Jaguar in both Hardware and Software perspectives.

[2015-09-10 22:52] correll commented on #18
I recommend following this tutorial until you are sure data is being received on the Jetson. I would then move to the ROS package that we discovered during the meeting.

Sent from my iPhone

[2015-09-11 17:37] mcguire-steve commented on #23
Investigated yesterday - the recovery at low charge current appears to have worked. Pack reassembled and ready for service.

[2015-09-11 17:37] #23 closed, assigned to correll

[2015-09-11 18:04] correll commented on #23
Awesome. I could not get it to work with the lowest settings. How do we
prevent the new packs I bought from dying?

On Fri, Sep 11, 2015 at 11:37 AM, Steve McGuire notifications@github.com
wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-09-11 20:05] rmaheshkumarblr commented on #19
The Garmin GPS by default had only 4 wires connected to the output terminal.
As per the Specification, there are suppose to be 6 wires. One wire which is going to PPS ( Pulse per second ) was not to be found in the output terminal. The other was a extra GND.

Steve suggested to use the PPS for enabling NTP using the Chrony software on top of Linus PPS ( This would enable all the robots to be in sy

[2015-09-11 20:12] correll commented on #19
Great job!

On Fri, Sep 11, 2015 at 2:05 PM, Mahesh Kumar Ravindranathan <
notifications@github.com> wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-09-11 20:16] correll commented on #17
I have ordered the module and antenna

On Sat, Sep 5, 2015 at 9:51 AM, Mahesh Kumar Ravindranathan <
notifications@github.com> wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-09-12 03:39] bryanbocao commented on #18
Via "USB-RS-232 Convertor” connecting laptop to IMU, the IMU had no power supply and therefore could not work.

After desoldering the pins on IMU from "USB-RS-232 Convertor”, we cut a USB cable and soldered the Red wire (+5V) to + pin and Black wire to - pin on IMU, with Orange wire (TXD) connected to RXI on IMU and Yellow wire (RXD) to TXD on IMU.
Reference:
<img width="763" alt="screen shot 2015

[2015-09-14 23:32] ghost commented on #18
Where is the Sparkfun IMU? Im in the lab and cant seem to find it!

[2015-09-15 00:43] correll commented on #18
It should be mounted inside the robot

On Tue, Sep 15, 2015 at 1:32 AM, Rohit Narendra Raje <
notifications@github.com> wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-09-15 02:48] bryanbocao commented on #18
Yes, it is just mounted right in the middle of the robot, with a USB cable connected--Just checked that in the lab.

[2015-09-15 17:36] bryanbocao commented on #18
Tested today: same result, data received from IMU but cannot fully upload firmware to it.

The picture below displays how wires are connected to IMU:
![screen shot 2015-09-15 at 11 27 38 am_](https://cloud.githubusercontent.com/assets/14010288/9884550/8a102d8a-5b9d-11e5-8258-14cf2a1a5a42.jpg)

[2015-09-15 19:41] rmaheshkumarblr commented on #19
Entered udev rules for the GPS module to be linked via the name GPS_System:

ubuntu@tegra-ubuntu:~$ cat /etc/udev/rules.d/10-self-defined.rules | head -1
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403" , ATTRS{manufacturer}=="FTDI"  ,ATTRS{serial}=="AL00ITFV" ,  MODE="0666" , SYMLINK+="GPS_System"
ubuntu@tegra-ubuntu:~$

ubuntu@tegra-ubuntu:~$ ls -ltr /dev/GPS_System
lrwxrwxrwx 1 root root 7 Sep 15 19:1

[2015-09-16 02:43] ghost commented on #18
I tested the IMU today evening. After certain detailed experimentation under the Digital Oscilloscope, testing the wire signals and their configurations. The USB-FTDI cable is perfectly working.

The only problem is that the RTS from the USB (Active Low) has to be mapped to the DTR (Active High). Also, the CTS from ATmega386 (Active High) has to be mapped to the CTS of USB (Active Low). So, there

[2015-09-16 03:36] correll commented on #18
Great work. We should have a ton of the latter in the lab.

Sent from my iPhone

[2015-09-16 17:02] bryanbocao commented on #18
Test:
The IMU is connected to FT232R breakout that was originally in the Robot:
    FT232R BREAKOUT <--> IMU
    GND                           <--> GND
    CTS                            <--> CTS
    3.3V                            <--> 3.3V
    TXO                            <--> RXI
    RXI                             <--> TXO
    DTR                            <--> DTR
FT232R is connected to la

[2015-09-16 17:07] rmaheshkumarblr commented on #18
I have seen the sync error occurs when the reset button on the Arduino is not pressed in sync with the upload button on the Arduino software. Not sure if it is relavent here though.

[2015-09-16 17:08] Jorge-C commented on #18
Yeah, try uploading and resetting the board at the same time, or slightly shifted times. If we were using sparkfun's breaktout board it'd take care of that, but without it I think we manually need to reset as we upload, which is tricky to get right.

[2015-09-16 19:13] correll commented on #18
If that's the only problem, it should be an easy fix as the boot loader usually waits for a few seconds and we don't need to write to the imu that often.

Sent from my iPhone

[2015-09-16 23:24] rmaheshkumarblr commented on #19
Installing robot_localization package using the link : http://wiki.ros.org/robot_localization

I had to install roslint as it was a dependency:
 (Reference Link: http://answers.ros.org/question/204078/roslint-error/ )

I had to install nmea_navsat_driver-package:
(Reference Link : http://answers.ros.org/question/190264/trouble-installing-nmea_navsat_driver-package/ )

Created a launch file.

ubunt

[2015-09-16 23:46] rmaheshkumarblr commented on #20
ubuntu@tegra-ubuntu:~/catkin_ws/src/robot_localization/launch$ cat /etc/udev/rules.d/10-self-defined.rules  | head -2
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403" , ATTRS{manufacturer}=="FTDI"  ,ATTRS{serial}=="AL00ITFV" ,  MODE="0666" , SYMLINK+="GPS_System"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403" , ATTRS{manufacturer}=="FTDI"  ,ATTRS{serial}=="AH02LWD6" ,  MODE="0666" , SYMLINK+="IMU_System"
ubun

[2015-09-17 18:21] ryanleonard commented on #18
So, it appears as though we have exhausted all of the options we have found on the internet for writing to the imu except for resetting the bootloader. Because we can receive input from the sensor, Sina suggests that we leave everything as it is, and manipulate the data we receive to solve for drifting or any other issues.

[2015-09-17 23:28] #9 closed, assigned to nobody

[2015-09-17 23:29] #18 closed, assigned to bryanbocao

[2015-09-17 23:30] #19 closed, assigned to rmaheshkumarblr

[2015-09-18 00:17] rmaheshkumarblr commented on #13
Can you please provide instructions on how to start the Occam camera on the wiki?

[2015-09-18 00:25] mira67 commented on #13
ok, will document that tomorrow

On Thu, Sep 17, 2015 at 6:17 PM, Mahesh Kumar Ravindranathan <
notifications@github.com> wrote:

##

PhD Candidate
ECEE Department
University of Colorado at Boulder

[2015-09-18 00:37] rmaheshkumarblr commented on #17
We just fixed the wireless module and it started working. Looks like it got the drivers from the grinch kernel.

[2015-09-18 00:37] #17 closed, assigned to rmaheshkumarblr

[2015-09-18 01:19] ryanleonard commented on #18
changed the imu firmware the firmware from:https://github.com/ptrbrtz/razor-9dof-ahrs/wiki/Tutorial.

Everything WORKS!
we can read and send commands to the imu.
Thanks to Rohit, Bryan and Steve

[2015-09-18 17:41] rmaheshkumarblr commented on #10
Using link: https://nims11.wordpress.com/2012/04/27/hostapd-the-linux-way-to-create-virtual-wifi-access-point/ for reference.

[code]

[2015-09-19 04:02] mira67 commented on #26
Create a file:
/etc/udev/rules.d/occam.rules
And add this line to it:
SUBSYSTEM==”usb”, ATTRS{idVendor}==”285e”, ATTRS{idProduct}==”3efd”, MODE=”0666″
Then restart udev:
sudo service udev restart
Then unplug and re-plug the camera, and it should appear with permissions 666, allowing any user on the system to talk to the camera with libusb

Resolved

[2015-09-21 20:40] #26 closed, assigned to mira67

[2015-09-21 20:41] Jorge-C commented on #20
This can be closed, right?

[2015-09-21 20:47] rmaheshkumarblr commented on #20
I think we will have to continue with updating the udev rules till all the hardwares are connected to ROS.
Right now only Occam Camera, GPS and IMU are updated. We could close this since the FTDI devices are updated but we could open one new issue for all devices in general ( DC Motors, IMU from stuart platform, etc.. )

[2015-09-21 20:50] Jorge-C commented on #10
Please enclose code and configuration files between triple backticks to make it easier to read, like this:

[code]

Thanks!

[2015-09-21 20:57] #2 closed, assigned to nobody

[2015-09-24 19:25] rmaheshkumarblr commented on #10
The Wireless USB from D-link that we have DWA-130 does not support the nl80211 driver.
Hence I am not able to create access point using it. Also the adapter is not supported by the grinch kernal. Tried hostapd with various options and it does not work.

I could get the Access point working using hostapd  with Intel Wireless PCI card

Would like to have a USB wireless module purchased. Selected one

[2015-09-24 19:28] correll commented on #10
Why are we not just sticking to the mini PCIe to create an access point?

On Thu, Sep 24, 2015 at 1:25 PM, Mahesh Kumar Ravindranathan <
notifications@github.com> wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-09-24 19:33] mira67 commented on #28
![screen shot 2015-09-24 at 1 28 39 pm](https://cloud.githubusercontent.com/assets/5383940/10084426/a0883bf0-62c0-11e5-89c7-07559a537a6e.png)

We can start based on this rough diagram to add new components in

[2015-09-24 19:47] rmaheshkumarblr commented on #10
![image](https://cloud.githubusercontent.com/assets/1996917/10084634/c135af58-62c1-11e5-87fd-c8d640950c7a.png)

The above digram shows the implementation that Steve suggested.

We are planning to create a bridge over the ethernet(eth0) and wireless(wlan0 - Wireless through USB).
This way the access point can be used to connect to the Tegra even for working on it remotely. Multiple people can acces

[2015-09-24 21:02] jilu7883 commented on #28
Did anyone work one the hardware yet? to run the batteries devices

[2015-09-24 21:09] jilu7883 commented on #28
http://jaguar.drrobot.com/images/Jaguar_V2_Manual.pdf

All-Terrain Autonomous NavigatIon Robot with GPS-IMU

[2015-09-24 21:28] correll commented on #28
Lets use open office to update this. We are now using USB and the Jetson
board instead of just sending everything over wireless.

On Thu, Sep 24, 2015 at 1:33 PM, mira67 notifications@github.com wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-09-24 21:37] mira67 commented on #28
Motor driver board: Sabertooth dual 25A motor driver http://www.dimensionengineering.com/datasheets/Sabertooth2x25.pdf
![screen shot 2015-09-24 at 3 51 48 pm](https://cloud.githubusercontent.com/assets/5383940/10087906/330088e4-62d4-11e5-9b44-eaa809f1faf0.png)

http://www.trossenrobotics.com/store/p/5466-Sabertooth-dual-25A-motor-driver.aspx?feed=Froogle&gclid=Cj0KEQjwvo6wBRCG3Zv92ZSLlIYBEiQA5PLVA

[2015-09-24 22:07] Jorge-C opened #29 "9DOF Razor IMU version"
There are two different versions, depending on the magnetometer inside:

[code]

Which one are we using/how can we find out?

[2015-09-24 23:05] #21 closed, assigned to jilu7883

[2015-09-24 23:18] correll opened #30 "Determine presence and type of motor encoders"

[2015-09-25 00:15] Jorge-C opened #31 "Flash right IMU firmware..."
...using sketch from https://github.com/KristofRobot/razor_imu_9dof/tree/indigo-devel/src/Razor_AHRS (it is slightly different from the one [currently flashed](https://github.com/ptrbrtz/razor-9dof-ahrs/blob/master/Arduino/Razor_AHRS/Razor_AHRS.ino)).

[2015-09-25 00:16] Jorge-C opened #32 "Calibrate IMU"
Depends on #31

Follow instructions from http://wiki.ros.org/razor_imu_9dof

[2015-09-25 00:54] Jorge-C commented on #31
We ended up having to use atmel to upload new firmware and the sketch. Commands necessary for calibration work! Thanks @RohitRaje9362 @rmaheshkumarblr

[2015-09-25 02:01] rmaheshkumarblr commented on #8
To launch GPS in ROS:

[code]

To launch IMU in ROS

[code]

To lauch the Robot Localization which integrates IMU data. The testing_ekf_template.launch is modified to use the real time IMU data rather than the sample.

[code]

To check the IMU data output.

[code]

To check the GPS output from the robotics_localization module:

[code]

Thanks to @BryanBo-Cao

[2015-09-25 16:32] mira67 commented on #4
1.      What's baud-rate required for the DSP motor sensing board in order to communicate with ROS/PC?

The baud-rate is 115200.
1.      What are the serial commands required for the DSP board in order to control the motors? Any detailed document?

We provide the protocol document and ROS sample code. The “DrRobotMotionSensorDriver” includes all the API functions for communication and control comm

[2015-09-25 21:01] bryanbocao commented on #32
In the Razor_AHRS.ino, under 'SENSOR CALIBRATION' find the section that reads 'Magnetometer (extended calibration)'
Replace the existing 3 lines with these:

[code]

[2015-09-25 21:06] Jorge-C commented on #32
For the record, we had to use an old version from 2013 ([v0.24](http://code.google.com/p/efficient-java-matrix-library/downloads/detail?name=ejml-0.24.jar&can=4&q=)) of the EJML library to get magnetometer calibration to work.

[2015-09-25 21:06] bryanbocao commented on #32
[magnetom.float.txt](https://github.com/correll/advancedrobotics/files/2751/magnetom.float.txt)
Could you change it to "magnetom.float" file when you download it, github comment does not allow .float to be updated. Thanks.
@Jorge-C

[2015-09-25 21:09] Jorge-C commented on #32
Thanks! Here is the calibration config file
[my_razor.yaml.txt](https://github.com/correll/advancedrobotics/files/2753/my_razor.yaml.txt)

Note that the extension `.txt` has to be removed from all the attached files.

[2015-09-25 21:16] bryanbocao opened #33 "Calibrate magnetometer inside the robot"
Magnetometer is affected by motors and metals inside the robot, so calibration parameters need to be re-evaluated when the IMU has been installed on the robot.

[2015-09-25 21:29] rmaheshkumarblr commented on #30
Data sheet of the motor driver that is being used.

https://www.dimensionengineering.com/datasheets/Sabertooth2x25v2.pdf

Data sheet that contains the Encoders used in PMS5005.

http://www.drrobot.com/products/item_downloads/PMS5005_1.pdf

![image](https://cloud.githubusercontent.com/assets/1996917/10112587/96ecec1a-6399-11e5-84d7-282fbb967b4c.png)

<b>Quadrature encoder</b> is being used.

https:

[2015-09-25 21:32] #30 closed, assigned to rmaheshkumarblr

[2015-09-25 22:04] bryanbocao commented on #32
Following the instructions on [7.1.3 Calibrating the magnetometer](http://wiki.ros.org/razor_imu_9dof), [Processing 2.2.1](https://processing.org/download/?processing) is downloaded on Mac (Version Yosemite 10.10.5).

**Add jar library**: download 2013 ([v0.24](https://code.google.com/p/efficient-java-matrix-library/downloads/detail?name=ejml-0.24.jar&can=4&q=)) and change its name "ejml-0.24.jar"

[2015-09-25 22:04] #32 closed, assigned to bryanbocao

[2015-09-28 18:56] rcr2f commented on #6
Added the stewart platform code to this forked repo: https://github.com/rcr2f/advancedrobotics.git

[2015-09-29 00:47] #3 closed, assigned to nobody

[2015-09-29 00:47] #4 closed, assigned to nobody

[2015-09-29 00:59] correll commented on #4
Great!

Sent from my iPhone

[2015-09-29 18:13] mcguire-steve commented on #2
ROS code updated, traced to use of static initializers. Replaced with dynamic. Tested, able to drive the Jaguar via joystick. Pull code to update.

[2015-09-30 02:42] Jorge-C commented on #1
Hey @ryanleonard, it'd be great if you could link the guide that we used this evening to test battery charging, and then we can maybe add a how-to to the wiki (since some steps were a bit different). Thanks!

[2015-09-30 02:52] bryanbocao commented on #4
First launch indoors from 1B15 to Correll Lab
[#1Video](https://youtu.be/mu-eZ2YVPoQ)
[#2Video](https://youtu.be/ZGt-fzrt39A)

[2015-09-30 19:33] rcr2f opened #34 "stewart platform code: setup udev to create symlink for dynamixel and maybe IMU"
http://playground.arduino.cc/Linux/Udev

http://ubuntuforums.org/showthread.php?t=168221

current rules don't always work

[2015-09-30 20:55] rcr2f opened #35 "Calibrate the IMU for the Stewart Platform"
Is someone familiar with calibrating the Sparkfun Razor 9DOF IMU already and want to take this on?

https://github.com/ptrbrtz/razor-9dof-ahrs/wiki/Tutorial

[2015-09-30 22:19] bryanbocao commented on #35
@Jorge-C and I have calibrated the IMU but outside the robot. But the magnetometer of the IMU needs to be calibrated again since it is affected by other metals and electronic components.

[2015-09-30 22:30] Jorge-C commented on #35
Bryan, there's another IMU in the Stewart platform. That one needs to have the magnetometer calibrated (Andy calibrated accels and gyros already, but it'd still be good to calibrate them again).

[2015-10-02 19:57] bryanbocao opened #36 "General Purpose Navigation Stack set-up and configuration"
[ROS Navigation](http://wiki.ros.org/navigation)
[Robot Setup](http://wiki.ros.org/navigation/Tutorials/RobotSetup)

[2015-10-02 20:03] #1 closed, assigned to nobody

[2015-10-02 20:14] rcr2f commented on #5
Update from the recent meetings:

Steve suggested we should use 80/20 rail on the Jaguar rather than punching a bunch of holes in the top plate. The Husky robot is an example of how we should setup mounting. We also shouldn't have to order anything since there is extra in the lab.

http://www.8020.net/t-slot-5.asp

![img_20151002_141011941](https://cloud.githubusercontent.com/assets/6099168/102566

[2015-10-02 20:29] rcr2f commented on #5
More ideas on the 80/20....

![img_20151002_142306057](https://cloud.githubusercontent.com/assets/6099168/10256963/cd0f3410-6911-11e5-9a4c-1797334bed73.jpg)

[2015-10-02 20:38] rcr2f commented on #22
Mount in one of these slots?

![img_20151002_143447516](https://cloud.githubusercontent.com/assets/6099168/10257206/337197ec-6913-11e5-9dc1-1c342c9abfdc.jpg)

[2015-10-02 20:42] rcr2f opened #37 "Gigabit ethernet cat 5e port on the Jaguar Platform"
Similar to the USB 3 port

[2015-10-02 20:43] rcr2f commented on #37
LCOM

[2015-10-02 20:52] rcr2f opened #38 "Power for the external sensors and stewart platform"
3 power output ports:

RAW / 12V 5A / 5V 1A
CPC (Circular Plastic Connectors)

Also, need to find a place to put these.

[2015-10-02 21:10] ryanleonard commented on #37
http://www.amazon.com/Waterproof-CAT5e-RJ45-Feed-Thru-Coupler/dp/B00CULLAWE/ref=sr_1_fkmr0_2?ie=UTF8&qid=1443819958&sr=8-2-fkmr0&keywords=female+female+ethernet+weather+resistant

I think that this is going to be a pretty good option.

But we will also need a cover:
http://www.amazon.com/CAT5e-Case-Side-Waterproof-Tether/dp/B00CUM7RF2/ref=pd_bxgy_147_img_2?ie=UTF8&refRID=131JB5BC674Q58HMZS96

[2015-10-02 21:12] rcr2f commented on #22
maybe something like these?

http://www.digikey.com/product-search/en?pv28=872&pv392=1677&FV=fff40016%2Cfff802e4&k=waterproof+connector&mnonly=0&newproducts=0&ColumnSort=0&page=1&quantity=0&ptm=0&fid=0&pageSize=25

[2015-10-02 21:16] ryanleonard commented on #22
http://www.l-com.com/usb-usb-type-a-waterproof-field-installable-connector

and cap:

http://www.l-com.com/firewire-din-scsi-sata-waterproof-cap-for-ieee-1394-firewire-usb?cmp=PAT

[2015-10-02 21:24] rmaheshkumarblr commented on #38
I think this would be the correct one for power. Need to check with Steve.

http://www.amazon.com/Wellsem-Waterproof-Dustproof-Aviation-Connector/dp/B0159TQ6JK

![image](https://cloud.githubusercontent.com/assets/1996917/10258172/a42544ec-6919-11e5-99c0-2199c498957c.png)

[2015-10-02 21:29] correll commented on #38
Please repost if it is the right one and I will add it to the order

On Fri, Oct 2, 2015 at 3:24 PM, Mahesh Kumar Ravindranathan <
notifications@github.com> wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-10-02 21:41] rcr2f commented on #38
More options...We will meet with Steve early next week to figure out the right parts.

http://www.mouser.com/Connectors/Circular-Connectors/Standard-Circular-Connectors/Standard-Circular-Connector/CPC-Series/_/N-av49j?P=1z0yj6eZ1yvsm2d

[2015-10-05 18:13] bryanbocao opened #39 "Implement SLAM with Omni 60"
Occam60 can be open by entering '/home/ubuntu/occamdrivers/indigosdk-2.0.34/build/bin/read_images_opencv' on terminal shown below:

![screenshot from 2015-10-05 17 59 07](https://cloud.githubusercontent.com/assets/14010288/10288938/4bf0aa86-6b8b-11e5-9b52-6ba24eb5dff6.png)
Thank @ikemole !

But based on my understanding it looks like that RTAB-Map does not have an option to use Occam60 directly, (

[2015-10-05 19:01] Jorge-C commented on #39
Stitching doesn't seem to work (there's an image channel called `stitched_image0` which can be selected) but the displayed image is a long gray gradient:
![screenshot from 2015-10-05 18 57 02](https://cloud.githubusercontent.com/assets/839897/10290315/f6cba814-6b92-11e5-8cb5-4166e5706cbf.png)

Any ideas? BTW, I had to make some small code edits to get channel-changing working in Occam's demo.

[2015-10-05 19:20] mcguire-steve commented on #39
Stitching won't work until the internal camera calibration parameters are written by the Occam Windows calibration utility.

[2015-10-05 21:10] Jorge-C opened #40 "Calibrate Occam60"
:warning: Windows machine needed!

Follow instructions [in Occam's website](http://occamvisiongroup.com/knowledgebase/calibrating-omni-60/). You'll need to login (username `correll@correll.edu` and password the Jetson's should work).

There are checkerboards in the lab, so before printing and gluing another please check with Steve/Andy to borrow one.

Any takers?
##

To check the calibration, run

[2015-10-05 21:25] Jorge-C commented on #39
Thanks, created #40 to track that.

Steve also suggested getting started with monocular SLAM using [LSD-SLAM](http://vision.in.tum.de/research/vslam/lsdslam).

[2015-10-06 04:33] ghost commented on #40
I downloaded the Occam Indigo Software and tried calibration. However, not yet satisfied fully with the calibration. Need to do it one more time so that the stitched image is perfect.

Model and Brief Summary of Calibration are as follows:
![caliberation model](https://cloud.githubusercontent.com/assets/14017199/10300140/74b464ba-6bb0-11e5-8e36-0f9f16ed3516.png)
![caliberation model2](https://clou

[2015-10-06 17:30] mcguire-steve commented on #38
The existing holes in the robot are 1" diameter, basically shell size 13. I recommend these connectors:
TE 211401-1 (robot side): qty 2
Pins for above: 66591-1, qty 20

Assuming 18ga-22ga wiring:
TE 211399-1 (cable side): qty 4
Sockets for above: 66592-1, qty 40

It's a 7-pos connector, so we can include grounds for each power line (BATT RAW, 12V, 5V) tied internally. Each pin is rated for 13A of

[2015-10-06 21:45] rmaheshkumarblr commented on #38
TE 211401-1 (robot side): qty 2
http://www.amazon.com/TE-Connectivity-Part-Number-211401-1/dp/B00KTX6B4M/  ( 2 of these )
Pins for above: 66591-1, qty 20
http://www.amazon.com/Connectivity-66591-1-TYPE-CONT-M-MATE/dp/B00DED5500/  (Each one has 2 pins hence we need to order 10 of these)

TE 211399-1 (cable side): qty 4
http://www.amazon.com/TE-Connectivity-Part-Number-211399-1/dp/B00KTX8GQI/ ( 4 of

[2015-10-06 22:55] correll commented on #38
I've put these and Rebecca's orders in.

On Tue, Oct 6, 2015 at 3:45 PM, Mahesh Kumar Ravindranathan <
notifications@github.com> wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-10-07 20:56] rcr2f opened #41 "Error when running roslaunch for the stewart platform"
Every now and then an error about permissions on the .gvfs file prevents running roslaunch. It seems like roscore or another ros command is corrupting this file. The only fix so far is to either use chown or if that fails, logging out and logging back in works every time.

[2015-10-07 21:32] #34 closed, assigned to nobody

[2015-10-07 22:00] bryanbocao commented on #40
Attempted to calibrate today, based on what Steve suggested, for each sensor, we swiped the checkerboard from left to right, up to down along with the edge of the frame. On the four corners of the frame, we rotated respect to x, y axis and moved forwards and backwards.

Between 2 sensors we added more snapshots by moving the checkerboard up and down, forwards and backwards.

It took 1 and half hou

[2015-10-07 22:34] rcr2f opened #42 "Publish IMU from a ROS node for the stewart platform"
We should use the ROS package for the razor, as done in jaguar IMU. This involves flashing it with firmware in #31 ( @RohitRaje9362 ), calibrating ( @BryanBo-Cao ), and launching that IMU node from the stewart plaftorm launch file ( @Jorge-C ).

[2015-10-07 23:47] rcr2f opened #43 "Weaponizing stewart platform so it can defend itself"

[2015-10-07 23:48] Jorge-C commented on #43
After talking to some independent experts, we've been recommended the following self-defense platform: http://www.toysrus.com/product/index.jsp?productId=46534416&prodFindSrc=pn&cp=28760506

[2015-10-08 04:45] bryanbocao commented on #40
# Calibration results

[Calibration Summary 20151007Wed.txt](https://github.com/correll/advancedrobotics/files/9821/Calibration.Summary.20151007Wed.txt)
[Calibration Detail 20151007Wed.txt](https://github.com/correll/advancedrobotics/files/9820/Calibration.Detail.20151007Wed.txt)

According to Step 7: Inspect results in the instructions on [Calibrating the Omni 60](http://occamvisiongroup.com/know

[2015-10-08 04:48] #40 closed, assigned to nobody

[2015-10-08 05:17] bryanbocao commented on #40
BTW, the data of the previous comment has already been stored into the camera’s non-volatile EEPROM memory.

[2015-10-09 19:23] rmaheshkumarblr opened #44 "Find the differences between robot_localization package and robot_pose_ekf"
Reference: http://answers.ros.org/question/191962/state-estimation-and-localization-in-robot-navigation/

robot_localization -> 3D tacking based on Extended Kalman filter with mulitple sensors (multiple odom and multiple IMU..)and provide more functionality

robot_pose_ekf -> 3D tacking based on Extended Kalman filter fusing wheel odometry, IMU sensor and visual odometry. For tracking pose.

amcl

[2015-10-13 00:44] rmaheshkumarblr commented on #20
Updated the UDEV rules to include the USB module that connects to the Motor Controller.
Also modified an existing 3.3V FTDI module to work with IMU so that Motor Controller and IMU can work independently (Not sharing the same FTDI cable anymore)

[code]

[2015-10-13 01:09] rmaheshkumarblr commented on #44
Robot localization seems to be the better option because it can support multiple sensors including the visual odometry.

"If you are fusing continuous position data such as wheel encoder odometry, visual odometry, or IMU data,set "world_frame" to your odom_frame value. This is the default behavior for robot_localization's state estimation nodes."

Planning to use one of the ros modules for visual

[2015-10-13 20:10] mcguire-steve commented on #38
I forgot a connector cover for the robot side and the backshells for the external power cable:
Connector cover:
TE 211870-2 (qty 2)
Backshell:
TE 206966-7 (qty 4)

[2015-10-13 20:21] mcguire-steve commented on #37
USB3: http://www2.usbfirewire.com/Parts/rr-118300-0s-xx.html#RR-118300-0S-12
with cover: http://www2.usbfirewire.com/Parts/rr-118300-0s-xx.html#RR-1C533122

[2015-10-15 16:48] rmaheshkumarblr commented on #12
Created a launch file which would start all the required services including GPS, IMU, Joystick and Motors.

[code]

[2015-10-15 16:51] rmaheshkumarblr commented on #20
Updated udev rules to detect joystick automatically.

Udev rules will  automatically change the baud rate of the motor control system to 115200 by default.

[code]

[2015-10-15 17:07] rmaheshkumarblr commented on #38
TE 211870-2 (qty 2)
http://www.amazon.com/TE-Connectivity-211870-2-SEALING-RECEPT/dp/B00DECRN88/   -- 2 numbers
TE 206966-7 (qty 4)
http://www.amazon.com/TE-CONNECTIVITY-AMP-206966-7-THERMOPLASTIC/dp/B011COZROQ/ -- 4 numbers

[2015-10-15 21:04] ryanleonard commented on #5
I just cut the railing, drilled holes for the screws, and hollowed out enough metal on the top layer to allow for the head of the screw to lay flush with the center of the railing.

Professor Correll, Can you order some #7, 1.5in drywall screws so that we can attach the railing to the top plate?

[2015-10-15 21:11] correll commented on #5
Hi Ryan

can you find this online and send me a link? We can also pick this up at
McGuckin.

Nikolaus

On Thu, Oct 15, 2015 at 3:04 PM, ryanleonard notifications@github.com
wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-10-15 21:11] correll commented on #5
We also have machine screws and washers here

On Thu, Oct 15, 2015 at 3:04 PM, ryanleonard notifications@github.com
wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-10-16 03:19] ghost opened #45 "Install Laser Scanner and Configure with ROS Navigation Stack"

[2015-10-16 03:32] bryanbocao commented on #45
Here's how the Laser Scanner from Pepperl+Fuchs looks like:

<img width="545" alt="screen shot 2015-10-15 at 9 31 45 pm" src="https://cloud.githubusercontent.com/assets/14010288/10533272/302919b8-7384-11e5-904f-fe2ae116a608.png">

<img width="560" alt="screen shot 2015-10-15 at 9 31 29 pm" src="https://cloud.githubusercontent.com/assets/14010288/10533273/3294a96a-7384-11e5-89df-203394397223.png">

[2015-10-16 04:33] bryanbocao opened #46 "Set up Jaguar using tf"
[tf](http://wiki.ros.org/tf)

[Setting up your robot using tf](http://wiki.ros.org/navigation/Tutorials/RobotSetup/TF)

Sub-issue of #36

[2015-10-16 04:34] bryanbocao opened #47 "Publish Sensor Streams Over ROS"
[RobotSetup 2.3 Sensor Information (sensor sources)](http://wiki.ros.org/navigation/Tutorials/RobotSetup)

[Publish Sensor Streams Over ROS](http://wiki.ros.org/navigation/Tutorials/RobotSetup/Sensors)

Sub-issue of #36

[2015-10-16 04:35] bryanbocao opened #48 "Publish Odometry Information over ROS"
[RobotSetup 2.4 Odometry Information (odometry source)](http://wiki.ros.org/navigation/Tutorials/RobotSetup)

[Publish Odometry Information over ROS](http://wiki.ros.org/navigation/Tutorials/RobotSetup/Odom)

Sub-issue of #36

[2015-10-16 04:37] bryanbocao opened #49 "Configure Costmap (local_costmap) & (global_costmap)"
[RobotSetup 3.3 Costmap Configuration (local_costmap) & (global_costmap)](http://wiki.ros.org/navigation/Tutorials/RobotSetup)

[costmap_2d](http://wiki.ros.org/costmap_2d)

Sub-issue of #36

[2015-10-16 17:52] ryanleonard commented on #43
I agree, but I think that if we got that, some modifications might be in order:

https://www.youtube.com/watch?v=pu_0qTyuJLY

[2015-10-16 17:54] ryanleonard commented on #5
I picked up some screws last night, and just finished cutting the crossbars. Now we need to get some attachments compatible with 20mm x 20mm 8020. Everything that I could find in the lab was too big and wouldnt fit the railing.

[2015-10-16 17:55] #29 closed, assigned to nobody

[2015-10-16 18:49] correll commented on #5
Let me know the mcmaster parts and i will order

On Fri, Oct 16, 2015 at 11:54 AM, ryanleonard notifications@github.com
wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-10-19 21:05] Zolkin1 commented on #5
![mounts on jaguar](https://cloud.githubusercontent.com/assets/13017206/10591182/1cfcb408-7672-11e5-88d2-4378823cf5de.png)

Above is my current design for mounting the stewart platform based on what we discussed on Thursday. I raised the stewart platform 4 in above the jaguar top, that way the laser sensor can fit underneath. The laser sensor has three holes that should be able to mount into the 2

[2015-10-21 00:51] #48 closed, assigned to nobody

[2015-10-21 03:27] bryanbocao commented on #46
## tf setup finished

![screenshot from 2015-10-20 20 38 36](https://cloud.githubusercontent.com/assets/14010288/10626341/293f58f2-776b-11e5-80bf-3ea6b0e7444e.png)
[Set up Jaguar using tf--console.txt](https://github.com/correll/advancedrobotics/files/17279/Set.up.Jaguar.using.tf--console.txt)

Created the packages and files mentioned in the instruction [Setting up your robot using tf](http://wiki

[2015-10-21 03:27] #46 closed, assigned to bryanbocao

[2015-10-21 03:27] bryanbocao opened #50 "Measure stewart's xyz offsets from the robot base when attached"
When stewart is attached to the robot, measure and change the three parameters of tf::Vector3() in line 18 in

[code]

[code]

Further issue of #46

[2015-10-21 20:49] bryanbocao commented on #47
Navigate to /home/ubuntu/catkin_ws/src, create a catkin package sensor_driver by command:

[code]

### Creating a publisher node ("laser_scan_publisher"):

Navigate to  /home/ubuntu/catkin_ws/src/sensor_driver/src, create LaserScan_Publisher.cpp with the code in **4.2 Writing Code to Publish a LaserScan Message** in [Publishing Sensor Streams Over ROS](http://wiki.ros.org/navigation/Tutorials/Robo

[2015-10-22 18:12] #11 closed, assigned to rmaheshkumarblr

[2015-10-22 19:44] #47 closed, assigned to bryanbocao

[2015-10-22 20:24] mira67 commented on #39
Tutorial to setup LSD-SLAM with ROS: https://github.com/tum-vision/lsd_slam

[2015-10-22 20:29] correll commented on #39
Cool!

Sent from my iPhone

[2015-10-22 22:18] bryanbocao commented on #35
Below is the calibration config file for accelerometer and gyro.
[razor_stewart.yaml.txt](https://github.com/correll/advancedrobotics/files/18952/razor_stewart.yaml.txt)
Magnetometer could be calibrated when the IMU is attached to the steward platform.

Note that the extension .txt has to be removed.
Thank @Jorge-C and @RohitRaje9362 for help.

[2015-10-22 22:35] ikemole commented on #45
The Laser Scanner has been connected, given an IP address and the ROS driver has been setup to publish messages of type **sensor_msgs/LaserScan**. See the wiki for more info.

[2015-10-22 23:37] ikemole opened #51 "Cannot run RViz on the Tegra"
Running RViz on the Tegra usually throws a **Segmentation Fault** error.

[2015-10-23 00:23] ghost commented on #16
To @ryanleonard
Do you have the existing list of BuffId + Names so that I can update it for access to the Correll lab?

[2015-10-23 00:36] correll commented on #51
Please follow the instructions in section 3.11 on this page

http://wiki.ros.org/indigo/Installation/UbuntuARM

Sent from my iPhone

[2015-10-23 01:21] Zolkin1 commented on #5
I can come in at 1pm on Saturday to work on the mounts.

[2015-10-23 21:49] bryanbocao commented on #51
Follow the instructions in section 3.11 on http://wiki.ros.org/indigo/Installation/UbuntuARM

[code]

[2015-10-23 21:56] Jorge-C opened #52 "Disable compiz in Jetson"
The nice-looking visual animations use up too much memory that we need to compile code :)

[2015-10-23 22:09] Jorge-C commented on #52
Steve suggested adding a swap file to help get compilation finishing.

Turns out there's only 666MiB of space left on the eMMC...

[2015-10-23 22:19] Jorge-C opened #53 "Manage development on jetson"
There isn't a lot of space left on the jetson board, we should clean it up and maybe at the same point we can stop using it as a desktop computer (eg having graphics, firefox, code editors...).

Some stuff that uses a lot of space:
- [ ] opencv2 (2 GiB)
- [ ] opencv3 (1.4 GiB) (why do we have this?)
- [x] apt-get cache (1 GiB)
- [x] Download folder (1.0 GiB)
- [ ] cuda examples (0.5 GiB)

[2015-10-23 22:36] Jorge-C commented on #51
@BryanBo-Cao  and I made some progress, and we were able to trace it back to [these](https://github.com/ros-visualization/rviz/issues/891) two [issues](https://github.com/ros/robot_model/issues/110).

They trace it back to an issue in libpcre (a regexp lib), so we compiled v8.36 from source and got farther: rviz started, but complained about many plugins:

[code]

I'm not sure if those errors are

[2015-10-23 22:38] Jorge-C commented on #51
Also, I built it as a `.deb` package, so that it's easy to install/remove:

[code]

[2015-10-23 23:01] jilu7883 opened #54 "Problem to connect the board with your own computer"
we tried to connect our computer to the board, and there is an error show's that "no hostkey alg".
That error can be fixed by made new rsa and dsa keys on the board and it went OK:

~# ssh-keygen -t rsa -f /etc/ssh/ssh_host_rsa_key
~# ssh-keygen -t dsa -f /etc/ssh/ssh_host_dsa_key

but we don't know what's passphrase is? did anyone know?

[2015-10-23 23:16] correll commented on #54
Anything that you want I think

Sent from my iPhone

[2015-10-23 23:34] jilu7883 commented on #39
we try to install LSD-SLAM, the errors shows below, we are thinking that may cause by there is two openCV versions.
that's the step we run:

[code]

(2.2 ROS indigo + Ubuntu 14.04)

Error message:

[code]

[2015-10-24 03:34] jilu7883 commented on #54
I think we just don't know what passphrase is, we may ask someone else to
find it,thank you.

On Fri, Oct 23, 2015 at 5:16 PM, Nikolaus Correll notifications@github.com
wrote:

[2015-10-24 03:43] correll commented on #54
Just leave it empty

Sent from my iPhone

[2015-10-24 03:44] correll commented on #54
It's something you set, not something you need to know

Sent from my iPhone

[2015-10-24 05:38] jilu7883 commented on #54
OK,thank you

On Fri, Oct 23, 2015 at 9:44 PM, Nikolaus Correll notifications@github.com
wrote:

[2015-10-24 19:38] rmaheshkumarblr commented on #16
There are no 80-20's in the lab and I have no access to Correll lab, so Zach could not get the hardware fixed.

In case you are collecting the name and buffid list again. Here are the details.

Name: Mahesh Kumar Ravindranathan
BuffID: 6014235005240075

[2015-10-24 19:39] correll commented on #16
Radhen was in the lab earlier. Shall I come in and open the door?

On Sat, Oct 24, 2015 at 1:38 PM, Mahesh Kumar Ravindranathan <
notifications@github.com> wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-10-24 19:42] rmaheshkumarblr commented on #16
Rohit is on his way to the college, he has access. He must be able to open the door.

[2015-10-24 19:59] ryanleonard commented on #16
If you guys still have trouble getting in for whatever reason, just give me a call.
720-339-6304
Also, Steve found a bag of some 80x20 stuff which is up against the wall by the jag. I have no idea whats in there though...

Date: Sat, 24 Oct 2015 12:42:10 -0700
From: notifications@github.com
To: advancedrobotics@noreply.github.com
CC: ryaneleonard@outlook.com
Subject: Re: [advancedrobotics] Collect

[2015-10-24 20:05] jilu7883 commented on #16
I am in the engineering center right now, I can open the door

On Sat, Oct 24, 2015 at 1:42 PM, Mahesh Kumar Ravindranathan <
notifications@github.com> wrote:

[2015-10-24 20:06] rmaheshkumarblr commented on #16
@RohitRaje9362 opened the door.

[2015-10-24 20:06] ghost commented on #16
I already did.

Rohit

On Saturday, October 24, 2015, jilu7883 notifications@github.com wrote:

[2015-10-24 20:06] jilu7883 commented on #16
OK

On Sat, Oct 24, 2015 at 2:06 PM, Rohit Narendra Raje <
notifications@github.com> wrote:

[2015-10-24 20:35] ghost opened #55 "Hardware development for Jaguar"
@Zolkin1(Zach) just noticed that the 80-20's in the Correll lab are slightly more larger than the ones we already cut for the Jaguar.

Images of the two are as below:

![img_0179](https://cloud.githubusercontent.com/assets/14017199/10712598/c07a518e-7a5b-11e5-808b-31a3f2f0da60.JPG)
![img_0182](https://cloud.githubusercontent.com/assets/14017199/10712597/c075c114-7a5b-11e5-9d08-24726190d0cc.JPG)

I

[2015-10-24 20:35] ghost commented on #55
Also, is there a power-cutting tool in the Correll lab to cut the 80-20's?

[2015-10-24 21:52] correll commented on #55
Just hacksaw

Sent from my iPhone

[2015-10-27 22:05] Zolkin1 commented on #7
If anyone gets a chance/way to make these parts, attached are the Occam60 mounting parts. The second one I was planning on 3d printing. And then we need a 12 in piece that will vertically mount to the occam. Also I will not be able to come in this week.
![80-20 20mm support strut](https://cloud.githubusercontent.com/assets/13017206/10773924/d11f20b8-7cc3-11e5-8fea-40e92c0bf0c7.jpg)
![fab occam 60

[2015-10-28 04:05] ikemole opened #56 "Embedded Battery Management System for the Jaguar"
Here are some that I found:
1. [**Battery Protection Circuit Board for 22.2V 6S Li-ion and Li-polymer battery pack**](http://bestechpower.com/222v6spcmbmspcbforli-ionli-polymerbatterypack/PCB-D132.html) :
   ![Image of BMS](http://bestechpower.com/htmledit/uploadfiles/201211215430575.jpg)
2. [**Protection Circuit Module (PCB) for 6 Cells Li-Ion/Li-Polymer Battery Packs w/ 6A Working & 10A Cut-off*

[2015-10-28 06:44] ikemole commented on #56
Also, we could just extend the wires outside the robot using extension wires like [this](http://www.batteryspace.com/connectoradaptorapairoftamiyaconnectorsmalefemale.aspx) or [this](http://www.ebay.com/itm/10-x-20cm-Big-TAMIYA-14AWG-Silicone-wire-Extension-Cable/281577328550?_trksid=p2047675.c100005.m1851&_trkparms=aid%3D222007%26algo%3DSIC.MBE%26ao%3D1%26asc%3D33430%26meid%3D55258def1f004b1c9074

[2015-10-28 20:21] #27 closed, assigned to nobody

[2015-10-28 20:28] ghost commented on #55
We are out of angle brackets and appropriate screws. @ryanleonard , @BryanBo-Cao  and I are going to buy the following parts now at McGuckin's.
![img_0194](https://cloud.githubusercontent.com/assets/14017199/10802018/d5cf1598-7d7f-11e5-8f0f-1213fc9158d3.JPG)

To @Zolkin1: Please could you specify if any other parts need to be bought.

[2015-10-28 20:54] mcguire-steve commented on #56
The BMS is part of the solution. A BMS provides for overcurrent and overvolt protection, but doesn't function as a balance charger. In re the extension idea, that can work, but we'd need to have both Tamiya plugs (the two conductor ones) and the balance JST plugs (the 7 conductor ones) extended to provide a complete harness per battery pack half.

Maybe something like this could be usable:
http://

[2015-10-28 21:00] mcguire-steve commented on #56
The external power plug would just then be something like a high-amp DC input at say 15V:
The charger draws 80W, so two of them draw 160W - maybe something like: http://www.trcelectronics.com/View/Mean-Well/LRS-200-15.shtml
to have some margin. The pins used to transfer external power would need to handle the combined amperage of 13.3 A, so a minimum 15A rating if only two pins are used, 7.5 if we

[2015-10-28 21:01] mcguire-steve commented on #56
Might also be useful to open the cases of the chargers and reroute the status LEDs to the outside for monitoring purposes.

[2015-10-28 23:31] bryanbocao opened #57 "Run motor driver and IMU simultaneously"
Motor driver and IMU are connect to Jetson board via the same FTDI. We attempted to run motor driver and receive IMU data simultaneously but failed. The baud rate of motor drive is 115200 baud while IMU's baud rate is 57600 baud.
<img width="512" alt="screen shot 2015-10-28 at 5 22 10 pm" src="https://cloud.githubusercontent.com/assets/14010288/10806132/92226016-7d98-11e5-9319-3069c7dee3d5.png">

[2015-10-29 01:14] correll commented on #57
We have a ton of FTDI cables in the lab and I gave already some to somebody
a while back.

On Wed, Oct 28, 2015 at 5:31 PM, BryanBo-Cao notifications@github.com
wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-10-29 01:16] rmaheshkumarblr commented on #57
Why are we using the same FTDI?  2 weeks back I set a separate FTDI for the
motor and the IMU.. Did we change something?
On Oct 28, 2015 7:14 PM, "Nikolaus Correll" notifications@github.com
wrote:

[2015-10-29 12:14] bryanbocao opened #58 "Mount IMU on Jaguar"
<img width="609" alt="screen shot 2015-10-29 at 3 38 27 am" src="https://cloud.githubusercontent.com/assets/14010288/10814942/933db760-7dee-11e5-9f0d-63a171cc3461.png">

[2015-10-29 12:14] #58 closed, assigned to bryanbocao

[2015-10-29 12:15] bryanbocao opened #59 "Mount Jetson on Jaguar"
<img width="346" alt="screen shot 2015-10-29 at 3 42 06 am" src="https://cloud.githubusercontent.com/assets/14010288/10815041/2a511002-7def-11e5-9409-51fec9eda296.png">

<img width="821" alt="screen shot 2015-10-29 at 3 43 36 am" src="https://cloud.githubusercontent.com/assets/14010288/10815069/4db90f9a-7def-11e5-8fb9-832d3cb53ed7.png">

![img_20151029_030344](https://cloud.githubusercontent.com/a

[2015-10-29 12:15] #59 closed, assigned to bryanbocao

[2015-10-29 19:07] rmaheshkumarblr commented on #57
Re-attached the FTDI we were using earlier and it works fine now.

[2015-10-29 19:07] #57 closed, assigned to nobody

[2015-10-29 19:25] rmaheshkumarblr commented on #10
Currently using the PCIe Wireless card to create the access point.

[code]

[code]

[code]

[2015-10-30 06:51] #42 closed, assigned to nobody

[2015-10-30 23:58] Jorge-C opened #60 "Stewart platform: IMU mounting"
The razor is currently on the top platform with masking tape, but it needs a more permanent solution. Maybe something with screws like the ones used to mount the Jaguar IMU on the metal. Ideally it'd be mounted so that the frame its ROS node returns matches what we need (x pointing towards 1,2, y pointing left, and z up (right handed)), but if not we need to add a tf node to transform coordinates.

[2015-10-31 00:08] Jorge-C opened #61 "Stewart platform: control"
The platform doesn't track pose commands very well (it has too much stationary error, probably because some measurements aren't that great), so we need to stabilize it.

Given that we have an inverse model, we can use feedforward control, but that still has stationary error -> we need to add feedback. This is the type of architecture: http://computationalnonlinear.asmedigitalcollection.asme.org/da

[2015-10-31 11:38] correll commented on #61
Is this about the pose after taking IMU inputs into account? The servos should be pretty precise.

Sent from my iPhone

[2015-11-03 02:32] ikemole opened #62 "Publish Occam camera feeds through a ROS topic"
I just completed the process of publishing images from the Occam Camera to a ROS topic. To do this, I adapted from one of the provided examples that displays the image to the screen to instead publish a topic. This way, any node can subscribe to it to either display or run SLAM.

The code is here: `~/image_transport_ws/src/occam_publisher`
To launch the node:  `rosrun occam_publisher occam_publish

[2015-11-03 02:42] ikemole commented on #62
There is one problem. The `occam_publisher` node only works correctly when I run it directly from the Tegra by attaching a screen and keyboard to it. If I log in through SSH and run it, it doesn't work instead it just exits without even throwing an error.

This is surprising because the ROS node does not actually need to display the image that it is publishing yet it only works when there is a scr

[2015-11-03 05:14] rmaheshkumarblr opened #63 "Internet connectivity to display location in Google Maps"
I am able to use ros slave node to communicate with the ros master node to get the latitude and longitude from the GPS module. Basically the ros slave node on my PC is able to get the latitude and longitude using the roslibjs.

I am just wondering how I will be able to display the location on the map because the Google API needs internet connectivity and I won't have access to Internet on my lapto

[2015-11-03 05:23] correll commented on #63
An easy fix would be to use wired ethernet on your laptop to.

On Tue, Nov 3, 2015 at 12:14 AM, Mahesh Kumar Ravindranathan <
notifications@github.com> wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-11-03 06:56] Jorge-C commented on #61
Some extra PID tuning would be nice to have, but this is working now.

[2015-11-03 06:56] #61 closed, assigned to nobody

[2015-11-03 14:07] bryanbocao commented on #63
Have you tried Virtual Machine to access the Internet? Use you host machine, let's say OS X, to connect to Jaguar while opening a Virtual Machine running another OS, say Windows, as a guest machine to modify the network configuration to access the Internet. At this point, the Google Maps APIs might be used on this guest machine.
Reference: http://www.virtualbox.org/manual/ch06.html#network_interna

[2015-11-03 14:14] correll commented on #61
This is a simple method to get good pid values

https://en.m.wikipedia.org/wiki/Ziegler–Nichols_method

Sent from my iPhone

[2015-11-03 23:26] rmaheshkumarblr opened #64 "Displaying the GPS Latitude and Longitude on a browser / google maps."

[2015-11-03 23:28] rmaheshkumarblr commented on #63
Used the ethernet cable for internet connectivity.

The Virtual Machine part does not help to provide internet connectivity because there is only one network device and hence it is able to connect only to one network at a time.

[2015-11-03 23:28] #63 closed, assigned to nobody

[2015-11-03 23:35] rmaheshkumarblr commented on #64
![image](https://cloud.githubusercontent.com/assets/1996917/10925015/f722284e-8247-11e5-80a0-afa458b1e079.png)

Process to get it working on your laptop:

1) Connect to jaguar_ap
2) SSH to 192.168.205.1 ( IP address of Jaguar )
3) Start roscore
4) Start the GPS launch file or all the services including the GPS
5) Start the rosbridge service `roslaunch rosbridge_server rosbridge_websocket.launch`
6

[2015-11-03 23:43] correll commented on #64
Great!

On Tue, Nov 3, 2015 at 4:35 PM, Mahesh Kumar Ravindranathan <
notifications@github.com> wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-11-04 01:28] ikemole commented on #62
I have rectified the issue. The problem was that the Occam driver has an option to use OpenGL enhancement and so it always tried to initialize OpenGL before reading images from the camera. When a screen is attached, this initialization works, but it fails when a screen is not detected and so the program exits. The option to use OpenGL is specified in the CmakeLists file (`~/image_transport_ws/src/

[2015-11-04 01:28] #62 closed, assigned to ikemole

[2015-11-04 01:37] ikemole opened #65 "Create jaguar webpage"
The goal is to create a single page for the jaguar where we can see:
- GPS Location on a map
- Camera Feeds

To display the camera feeds, we use a ROS package called [web_video_server](http://wiki.ros.org/web_video_server). This launches a web server on the tegra that will subscribe to any image topic and display the published image on a webpage.

[2015-11-04 01:47] correll commented on #65
I'd recommend having the we server on the client that connects to tegra via ROS (same ros core).

This would allow to free up some resources and reduce bandwidth as the camera feed can be compressed (via ROS).

Sent from my iPhone

[2015-11-04 02:02] bryanbocao commented on #59
Share the videos from last week:
[Robot moving outside the lab VID 20151029 142200 ](https://youtu.be/bMI5y4v7eDU)
[Robot moving on stones and grass with lego figure VID 20151029 170844 ](https://youtu.be/d7ZqrxK_nzg)
[Robot moving with a human and lego figures VID 20151029 173740](https://youtu.be/lBaOTfgMe3Q)

[2015-11-04 03:06] ikemole commented on #65
Actually we would not be installing a full-blown web-server. We would just be using the simple HTTP server that comes with python to serve static files from a folder. Also, it would be a html file and some Javascript. So, inside the folder, we just type `python -m SimpleHTTPServer` and we can view the HTML file on port 8000 of the Tegra. It's very lightweight.

[2015-11-04 03:17] ikemole commented on #65
The page has been created. Here is what it looks like:

![screenshot from 2015-11-03 20 02 12](https://cloud.githubusercontent.com/assets/2020624/10928551/d213825e-8266-11e5-8461-1c3a582df939.png)

The webpage's code is located in `~/catkin_ws/src/jaguar_website`.

To start it, navigate to the folder and run the `launch_website.sh` script. This script is for convenience as it just launches the Pyt

[2015-11-04 03:33] ikemole commented on #64
@rmaheshkumarblr I've incorporated this into a single page with the camera feed.

[2015-11-04 04:11] correll commented on #65
Cool!

On Tue, Nov 3, 2015 at 10:17 PM, David Emole notifications@github.com
wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-11-04 17:06] #65 closed, assigned to ikemole

[2015-11-04 22:58] rcr2f commented on #41
[code]

When we check ownership.

[code]

[2015-11-04 23:07] ikemole commented on #41
I have seen that happen a couple of times too. Usually I just delete the
".gvfs" and everything works fine again.
On Nov 4, 2015 3:58 PM, "Rebecca Curtis" notifications@github.com wrote:

[2015-11-04 23:17] ikemole opened #66 "Connection to jaguar_ap frequently disconnects"
When logged into the Tegra's network (jaguar_ap) through SSH, I lose connection very often and have to reconnect. Sometimes even when sitting next to it, the jaguar_ap wireless signal strength is still about 40% or less.

Does anyone know how to make it have a more reliable and stable connection?

[2015-11-04 23:29] rcr2f commented on #41
I've always logged in and out to fix it. I found the reason why I was getting this issue, every time I'd edit .bashrc, I'd use sudo. This may be a similar reason to why Andy got it too, for using sudo where you don't need to in setting up ROS.

[2015-11-04 23:29] #41 closed, assigned to nobody

[2015-11-05 00:31] ghost commented on #59
Video of Jaguar climbing stairs successfully:
https://www.youtube.com/watch?v=ajecEemVHm4

[2015-11-05 03:47] rmaheshkumarblr commented on #66
The PCIe Card has option to have 2 antennas. Fixing another antenna may fix the issue. The other option is to use a USB wireless adapter which can be attached outside the Jaguar which will give better signal. I think we are in the process of getting one of those already.

[2015-11-06 02:37] Jorge-C opened #67 "Faster stewart platform response"
It was a bit unsatisfying that the stabilizing performance of the platform (i.e., when moving the base and expecting the top to stay on the same orientation) was much slower (4x settling time) than the performance when commanding poses (i.e., platform stays horizontal and we use the keyboard tool to send pose commands).

Well, it's actually 100% expected b/c of our feedforward control with feedbac

[2015-11-07 01:56] bryanbocao commented on #60
<img width="628" alt="screen shot 2015-11-06 at 6 48 44 pm" src="https://cloud.githubusercontent.com/assets/14010288/11012825/cd13ab1e-84b7-11e5-85d4-90ccdbceb6a7.png">
![img_20151106_182107](https://cloud.githubusercontent.com/assets/14010288/11012762/7e38df9c-84b6-11e5-8a3b-b0d051f029f5.jpg)
![img_20151106_183105_hdr](https://cloud.githubusercontent.com/assets/14010288/11012764/7e3b7194-84b6-11e

[2015-11-07 01:56] #60 closed, assigned to bryanbocao

[2015-11-07 02:13] #64 closed, assigned to nobody

[2015-11-10 20:10] Branden-Romero opened #68 "Jaguar battery cells unbalanced"
![img_20151109_153041](https://cloud.githubusercontent.com/assets/5060579/11074311/1e5b0a5c-87ac-11e5-8100-4dad0c715f97.jpg)

[2015-11-10 20:17] Jorge-C commented on #68
Does running cell balancing not fix it?

[2015-11-10 20:21] Branden-Romero commented on #68
It fixes it, but this is the second time after use that the battery has become unbalanced since we attached the laser scanner.

[2015-11-10 20:39] Jorge-C commented on #68
We should recharge more often. A lot of low battery alarms for RC
airplanes/quadcopters go off at about 3.3V per cell (under load, so 3.2V
with no load is much more problematic).

Re. unbalancing by discharge, that might simply suggest that the BMS of the
jaguar is not great. Does it even have a Battery Management System?

2015-11-10 13:21 GMT-07:00 Branden Romero notifications@github.com:

[2015-11-10 21:01] ikemole commented on #68
Just an observation...

I've noticed that the same cell seems to discharge faster than the other
five cells. Every time I was about to charge it, the lowest number always
shows on the bottom left position on LCD (as in this picture). I am
guessing that the same cell is represented in that location on the screen.

I am not sure how relevant that is.

On Nov 10, 2015 1:39 PM, "Jorge Cañardo Alastuey

[2015-11-10 22:45] mcguire-steve commented on #68
The Jaguar does not have a battery management system to prevent
over-discharge or over-charging. Cell unbalancing is related to
manufacturing differences between individual cells - the fact that a single
cell is perpetually the weak link is consistent.
Long-term solution would involve a ROS node with some A/D hardware to
actively monitor battery voltage and current draw so that we can estimate
the

[2015-11-11 00:32] bryanbocao commented on #55
Have these 80-20 angle brackets and appropriate screws been ordered? Currently are we waiting for them for hardware development?

[2015-11-11 00:34] Jorge-C commented on #55
Andy is working on it. He has ordered hardware and will work on it tomorrow I think.

[2015-11-11 00:36] correll commented on #55
The hardware is sitting in the CS front office in the 7th floor

On Tue, Nov 10, 2015 at 7:34 PM, Jorge Cañardo Alastuey <
notifications@github.com> wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-11-11 00:41] Jorge-C commented on #55
It's already in the lab, between our desks.

2015-11-10 17:36 GMT-07:00 Nikolaus Correll notifications@github.com:

[2015-11-12 05:56] bryanbocao commented on #55
Andy, @Jorge-C and I worked on the 80/20 hardware development based on their design:

![img_20151111_152208_hdr](https://cloud.githubusercontent.com/assets/14010288/11111492/e8ffb6ca-88c6-11e5-90ae-024cb9c72e45.jpg)

[2015-11-12 06:36] mira67 commented on #39
Please use the following updated LSD_SLAM package to install, which was successfully installed on Ubuntu 14 + Indigo + OpenCV 2.4.8: https://github.com/mira67/lsd_slam
This updated version fixed the previous "cv...undefined" error. It will take >3min to build.

[2015-11-15 01:45] #35 closed, assigned to nobody

[2015-11-15 01:46] #7 closed, assigned to Zolkin1

[2015-11-15 01:47] #55 closed, assigned to Zolkin1

[2015-11-15 20:15] rmaheshkumarblr commented on #10
Need to buy this Wireless Adapter:

www.amazon.com/Rosewill-Wireless-Adapter-External-RNX-N250UBE/dp/B006WWN016/

[2015-11-19 19:03] Branden-Romero opened #69 "NVIDIA Jetson TX1 Released"
Saw the new Jetson today, it might be useful for the project even though it is humongous.
http://www.nvidia.com/object/jetson-tx1-dev-kit.html

[2015-11-20 06:43] ikemole commented on #53
I tried to organize the code on the Tegra to be easier to find packages. First, we now have a top-level folder called `~/workspaces/`. Inside this, I created different workspaces (loosely) organized by function. Each _workspace_ then contains _packages_ related to that functionality. This way, you only build code in the realm that you are developing. Here is what it looks like:

**~/workspaces/**:

[2015-11-20 07:06] ikemole commented on #53
I also deleted many files and folders that I could verify were no longer relevant. This included stuff in the Downloads folder and some ROS tutorial stuff. I will verify what version of OpenCV is being referenced and delete the other. We can also aim to completely avoid using it as a desktop computer by removing all graphics and stuff like that. Here is what our memory looks like now:

![t4](https

[2015-11-20 23:44] Jorge-C opened #70 "Liquid delivery"
Delivering coffee using the Stewart platform would be cool, but look at this tank: https://i.imgur.com/JdIqPUP.gifv

[2015-11-21 00:50] correll commented on #70
$80k worth of IMU doing its job right there

On Fri, Nov 20, 2015 at 4:45 PM, Jorge Cañardo Alastuey <
notifications@github.com> wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-11-23 02:48] rmaheshkumarblr commented on #10
We got the Wireless Router. Got it working with the Grinch Kernal.
It would appear as WLAN10

[2015-11-23 13:06] bryanbocao opened #71 "Integrate all hardware components"

[2015-11-23 15:58] bryanbocao opened #72 "Turn on Jetson automatically when turning on Jaguar from battery"
Currently we have to turn on the power by the button on the back of Jaguar, and then press the power button of Jetson inside Jaguar, which is extremely inconvenient.

[2015-11-23 16:00] #5 closed, assigned to Zolkin1

[2015-11-23 16:01] bryanbocao commented on #71
![jaguar1](https://cloud.githubusercontent.com/assets/14010288/11331959/819f38aa-917e-11e5-89ef-25b3bc5aef08.jpg)

![jaguar3](https://cloud.githubusercontent.com/assets/14010288/11341427/a8358ba4-91bf-11e5-9b6d-c509aeb1aa31.jpg)

![jaguar2](https://cloud.githubusercontent.com/assets/14010288/11331990/ba3e6258-917e-11e5-9b3b-796fa830b5bd.jpg)

However, we still need to unmount stewart platfom to ch

[2015-11-23 16:01] #71 closed, assigned to bryanbocao

[2015-11-23 16:03] ghost commented on #72
I suppose the Jetson will turn on automatically as long as it's reset
capacitors stay charged i.e. as long as the battery is always connected and
the Jetson is not explicitly shut down.

However, after removing the batteries for charging, restarting the Jetson
does become an inconvenience.

Rohit

On Monday, November 23, 2015, BryanBo-Cao notifications@github.com wrote:

[2015-11-23 16:38] mcguire-steve commented on #72
The small button on the front panel next to the main power switch is wired
to a header for just such a reason. The LED inside and the button connect
to the 'front panel' header block on the Jetson.
-Steve

On Mon, Nov 23, 2015 at 9:03 AM, Rohit Narendra Raje <
notifications@github.com> wrote:

[2015-11-24 02:39] correll commented on #72
Maybe it's possible to bridge the power button?

Sent from my iPhone

[2015-11-24 02:50] correll commented on #71
This beast looks awesome!

Sent from my iPhone

[2015-11-25 01:07] Jorge-C opened #73 "Quick stewart platform update"
A few issues have cropped up when integrating systems:
- [x] Edit razor nodes so that they boot up with different names, can't have both razors publishing together (even in different channels).
- [x] I couldn't read any data from the jaguar imu (its serial port was quiet), not even when it was running alone (the loose connection was well hidden).
- [ ] Platform needs to get 12V from the jaguar (I

[2015-11-25 01:07] #70 closed, assigned to nobody

[2015-11-25 01:08] #67 closed, assigned to nobody

[2015-11-25 01:08] #66 closed, assigned to nobody

[2015-11-25 01:08] #54 closed, assigned to nobody

[2015-11-25 01:13] Jorge-C commented on #53
@ikemole pcre is no longer relevant, so I deleted it. Re. your other questions, since nobody has raised any concerns (in particular about hostap, host_wifi_related, and jaguar_2dnav), I think you can go ahead and delete all that too. Did you already delete opencv3?

Another thing I've noticed is that we have a bunch of ros-jade packages. Anybody specifically needs them or can they be removed? Note

[2015-11-25 01:14] Jorge-C commented on #51
Let's close as won't fix. We're moving away from having any GUI run off it.

[2015-11-25 01:14] #51 closed, assigned to nobody

[2015-11-25 01:17] Jorge-C commented on #72
The small button works.

[2015-11-25 01:17] #72 closed, assigned to nobody

[2015-11-25 01:19] Jorge-C commented on #68
Closing as it is just an artifact of not having a BMS ( #56 ).

[2015-11-25 01:19] #68 closed, assigned to nobody

[2015-11-25 01:20] #37 closed, assigned to nobody

[2015-11-25 01:20] #8 closed, assigned to jilu7883

[2015-11-25 01:21] Jorge-C commented on #6
The missing progress is tracked in #73

[2015-11-25 01:21] #6 closed, assigned to rcr2f

[2015-11-25 01:22] Jorge-C commented on #20
The udev rules for the stewart platform components have also been integrated.

[2015-11-25 01:22] #20 closed, assigned to rmaheshkumarblr

[2015-12-01 22:34] rcr2f commented on #73
For the razor node names, could we just change the name in imu_node when it's initialized? Or is it getting the names from firmware?

[2015-12-02 03:18] rmaheshkumarblr commented on #73
The node names can be changed to the name we want using the XML syntax in
the ROS launch file.

http://wiki.ros.org/roslaunch/XML/remap

On Tue, Dec 1, 2015 at 3:34 PM, Rebecca Curtis notifications@github.com
wrote:

##

Mahesh Kumar Ravindranathan
MS in Computer Science ( starting Fall, 2015 )
University of Colorado Boulder
Contact No:+1(720)492-4445

[2015-12-03 05:04] jilu7883 commented on #39
I tried install LSD SLAM for the camera, for the command, i need the infotopic and calibration file for the Occam Camera, Did anyone know anything about that?
![capture](https://cloud.githubusercontent.com/assets/14007596/11552321/7aa099e4-9940-11e5-8614-967125259115.PNG)

[2015-12-03 05:36] ikemole commented on #39
The package is called "occam_publisher" and the topic is called "occam\image". I don't think there is any calibration file for it. The publisher works without it.

[2015-12-03 06:10] jilu7883 commented on #39
Thank U!

[2015-12-03 21:12] Branden-Romero opened #74 "Request Static IP"
If you are considered CU-Boulder faculty and staff can you request a static IP for the Jaguar? The instructions are here:
http://www.colorado.edu/oit/services/network-internet-services/ip-address-hostname-management

[2015-12-03 22:54] #74 closed, assigned to nobody

[2015-12-06 00:15] Branden-Romero opened #75 "Provide power to USB 3 hub"

[2015-12-07 04:02] rmaheshkumarblr opened #76 "Video Creation"
Our first effort in video creation. Thanks @ryanleonard for taking the video.

We can edit/create new one if necessary based on suggestions.
Right now I have not edited the audio :P

https://youtu.be/1g8PVeA4QE4

[2015-12-08 03:59] bryanbocao commented on #76
Just curious what name would you like for the Jaguar and Stewart Platform? I think it would be better to display like "Introducing [Delivery Robot]" near the beginning of the video.

[2015-12-08 22:03] Branden-Romero commented on #49
![map](https://cloud.githubusercontent.com/assets/5060579/11669985/b69c7f32-9dbc-11e5-87b2-e9be61d9f0f0.png)

Cost map of ECCR 1B15.

[2015-12-08 22:03] #49 closed, assigned to bryanbocao

[2015-12-08 23:12] correll commented on #49
Does this also work outside?

Sent from my iPhone

[2015-12-09 00:09] Branden-Romero opened #77 "Need new usb to serial breakout for motor board"
https://www.sparkfun.com/products/12731

[2015-12-09 00:11] Branden-Romero commented on #49
Will try when we get a new usb to serial breakout, can't drive now.

[2015-12-09 00:14] correll commented on #49
We should have a couple in the lab still

Sent from my iPhone

[2015-12-09 00:18] Branden-Romero commented on #49
By any chance do you know where?
On Dec 8, 2015 5:14 PM, "Nikolaus Correll" notifications@github.com wrote:

[2015-12-09 00:35] Jorge-C commented on #49
We already talked to Andy about it and could not find any. Is there any
place we should double check?

2015-12-08 17:18 GMT-07:00 Branden Romero notifications@github.com:

[2015-12-09 03:29] correll commented on #49
John might know

Sent from my iPhone

[2015-12-09 17:24] correll commented on #77
John Klingner has some, they should be on the workbench in one of the
left-side drawers (labeled "FTDI cables"). There are 3.3V and 5V cables.

On Tue, Dec 8, 2015 at 5:09 PM, Branden Romero notifications@github.com
wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-12-09 19:32] #77 closed, assigned to nobody

[2015-12-10 02:20] Branden-Romero commented on #49
![screenshot from 2015-12-09 19 13 47](https://cloud.githubusercontent.com/assets/5060579/11704915/1d2d12ce-9ea9-11e5-8820-03d4a9c325fa.png)
![img_20151209_131359](https://cloud.githubusercontent.com/assets/5060579/11704948/5d54bed8-9ea9-11e5-8925-37a7ed73fdc2.jpg)
Got better results for outdoor map. Scan match doesn't find a match consistently so there is ghosting on the trees on bottom right and

[2015-12-10 06:06] bryanbocao commented on #76
Hey guys just edited the the video.

In my opinion, the video could be better if more video scripts could be filmed (some of them may already be filmed before but it's better to film again):
1. Someone (like Rebecca?) tag the phone to order a coffee;
2. Rebecca receives the coffee;
3. Film the screen showing Jaguar creating the map of its surrounding when moving;
4. Climb stairs;
5. Avoid humans.

[2015-12-10 06:09] correll commented on #76
Cool! In my opinion we should focus on outdoor scenes and order the cafe to
the math building. Outdoor and stairs are all novelties that will get a lot
of interest. Indoor footage not so much.

On Wed, Dec 9, 2015 at 11:06 PM, BryanBo-Cao notifications@github.com
wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http:/

[2015-12-10 06:18] bryanbocao commented on #76
Some of the films of the exterior of the Jaguar in this version should be replaced with those.

[2015-12-10 06:19] correll commented on #76
You guys are actually on a very steep trajectory! The robot looks great and
I have seen a lot of technical progress toward autonomy.

I'd add to the list:
- replace "self-turning" with "autonomous navigation"
- show the map every now and then, maybe even with a path planned therein
- the horizontally stable coffee should only be mentioned if this actually
  works. Maybe the robot could go up a not

[2015-12-11 16:55] ikemole opened #78 "Testing the Color Camera"
I tested the color camera that was brought in yesterday and the image was very dark:

![color_occam](https://cloud.githubusercontent.com/assets/2020624/11749560/b62e1c1e-9feb-11e5-8f3a-f7870b71d5f3.png)

[2015-12-12 02:01] rmaheshkumarblr commented on #31
The problem was with the IMU. The IMU is not responding. We probably need to flash the IMU again. Tried flashing using Arduino and it does not seem to work because of the sync error.

[2015-12-12 05:52] ghost commented on #31
Tried flashing the Boot-loader and Firmware inside the Jaguar IMU.
The Bootloader is flashed successfully using the Atmel ICE programmer as given in the video in the following link:
https://startingelectronics.org/tutorials/arduino/arduino-uno-burning-bootloader-avr-studio/

However, we get 'programmer not in sync: 0x00' error while uploading the firmware for the IMU using Arduino IDE. Instruction

[2015-12-12 06:13] correll commented on #31
Is it the same IMU? We do have 3.3V FTDI cables.

On Fri, Dec 11, 2015 at 10:52 PM, Rohit Narendra Raje <
notifications@github.com> wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-12-12 06:20] rmaheshkumarblr commented on #31
It is the same IMU. It does not seem to work. Out of the two 3.3V FTDI cables that we got from the lab. One of them is not being detected by the laptop/Tegra as a FTDI cable / USB. The other one provides a voltage of around 2.6V~2.7V instead of 3.3V. I even powered 3.3V directly and used the previously used FTDI and it still did not work.

[2015-12-17 07:16] bryanbocao opened #79 "Create order app prototype for video"
#76

Hey guys since I have not upgraded my Apple Account to App Developer, I just used what I have to creat a website http://bryanbo-cao.me to order coffee temporally (only for filming). If I have more time I would like to develop an app or a robust website for ordering.

For filming, use your phone to open this address: http://bryanbo-cao.me on Chrome, scroll down, the tab bar and address field s

[2015-12-17 07:42] correll commented on #79
Great!

On Thu, Dec 17, 2015 at 12:16 AM, BryanBo-Cao notifications@github.com
wrote:

##

Assistant Professor
@correlllab, http://correll.cs.colorado.edu
Open robotics textbook: http://amzn.to/1vTjnt9 (buy), http://bit.ly/1vr7ptA
(contribute)

[2015-12-18 00:14] bryanbocao commented on #78
Use the Occam Indigo software downloaded from http://occamvisiongroup.com/knowledgebase/windows-drivers-and-tools/ on Windows and set the "Gain" to Auto and save this configuration would solve this issue:

![qq 20151217171112](https://cloud.githubusercontent.com/assets/14010288/11885924/59702102-a4e1-11e5-96cc-784408496ac2.png)

![qq 20151217171158](https://cloud.githubusercontent.com/assets/14010

[2015-12-18 00:14] #78 closed, assigned to nobody

[2015-12-18 00:16] #79 closed, assigned to bryanbocao

[2017-12-04 03:44] keerthanpg commented on #44
1. robot_localization can accept any number of odometry/imu sensor values, one can stack them. However robot_pose_ekf can only take two odometry and one imu data
2. robot_localization lets you fuse sensor data by choosing which variables to consider for current state by mere true/false binaries. However in robot_pose_ekf, this is done by setting the corresponding covariance value to very high, if

[2017-12-04 03:45] keerthanpg commented on #44
In robot_localization, we can customise the process_noise_covariance and initial_estimate_covariance matrices by setting them to real values allowing greater degree of flexibility and customisation. However in robot_pose_ekf, we can only set them to binary true-false values. In the former, the matrices are 14*14 while in the latter, the matrix is 14*1, further enhancing flexibility in the former c

[2021-08-09 12:17] kkraman02 commented on #44
First of all thanks to both of you for these detailed explanations, I understood the concept and the difference between different approaches very well. Which is very helpful for my research.